:root {
    --primary: #8851e0;
    --background: #010304;
    --background2: #051119;
    --background2-transparent: #031f3127;
    --gray: #847F90;
    --white: #FCFCFC;
    --navbar-height: 3.75rem;
}
body {
    font-family: "DM Sans";
    margin: 0;
    padding: 0;
    background-image: linear-gradient(246deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(555deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(470deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(330deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(568deg, rgb(5,17,25),rgb(5,17,25));
}

header {
    background-color: var(--background);
    color: #ffffff; /* Cor do texto (branco) */
    font-size: 80%;
    padding: 1px;
    margin-bottom: 0%;
    text-align: center;
    height: 3rem;
}
.menu__wrapper {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: left;
    width: 100vw;
    z-index: 2;
    gap: 1.5rem;
    background: var(
        --background2
    );
    height: 2rem;
    padding: 0rem;
    align-items: center;
    margin-top: 0%;
}

.menu__bar {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navigation {    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 0.5rem;
    background: var(
        --background2
    );
}

.navigation > li > button {
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    gap: 0.25rem;
    opacity: 1;
    align-items: center;
    font-size: 0.875rem;
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 0.185rem 0;
    position: relative;
    transition: all 0.2s 
        ease-in-out;
}

.navigation > li > button:hover {
    color: var(--primary);
    background-color: var(--background2-transparent);
    border-radius: 5px;
}

.dropdown {
    position: absolute;
    top: 2.625rem;
    min-width: 15rem;
    border-radius: 0.5rem;
    background: var(--white);
    display: none;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 5px 30px 
        rgba(27, 31, 35, 0.1), 
        0 0 1px rgba(27, 31, 35, 0.4), 
        0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {        
        opacity: 0;
        transform: scale(0.99)
            translateY(-0.7em);
        transform-origin: top;
    }
    to {
        opacity: 1;
        transform: scale(1) 
            translateY(0);
    }
}

.dropdown h3 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.list-menu-items {
    display: flex;
    list-style-type: none; 
    flex-direction: column;
    gap: 0.25rem;
}

.list-menu-items > li > a {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    width: 100%;
    color: var(--gray);
    text-decoration: none;
}

.list-menu-items > li > a:hover {
    color: var(--primary);
}

.list-items-with-description {
    list-style-type: none;
    column-count: 5;
    column-gap: 20px;
    max-width: 800px;
}

.list-items-with-description li {
    display: flex;
    padding: 0.25rem;
    gap: 1rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-items-with-description li:hover {
    color: var(--primary);
}

.list-items-with-description li svg {
    width: 1rem;
    height: 1rem;
    stroke: var(--primary);
}

.item-title h3 {
    font-size: 0.875rem;
    font-weight: 600;
}

.item-title p {
    font-size: 0.75rem;
}

.navigation > li:hover .dropdown {
    display: flex;
    opacity: 1;
}

@media (max-width: 600px) {
    .hide {
        display: none;
    }

    .menu__wrapper {
        justify-content: space-between;
    }

    .action-buttons {
        order: -1;
    }
}


@media (max-width: 600px) {
    .burger-menu {
        display: flex;
        align-items: center;
    }
}
section {
    padding-top: 20px;
    padding-left: 15px;
  }
footer {
    background-color: var(--background);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 10px;
  }